<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Hex Sweeper</title>
    <link rel="stylesheet" href="{% static 'pages/main.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'pages/favicon/android-chrome-512x512.png' %}">
    {% block extra_head %}{% endblock %}
</head>
<body>
<header>
    <nav class="site-nav">
        <a href="{% url 'homepage' %}">Home</a>

        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a href="{% url 'admin:index' %}">Admin panel</a>
            {% endif %}
            <a href="{% url 'profile' %}">Profile</a>
            <a href="{% url 'game' %}">Play</a>

            <form method="POST" action="{% url 'logout' %}" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="nav-button">Logout</button>
            </form>

        {% else %}
            <a href="{% url 'login' %}">Sign in</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </nav>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer class="site-footer">
    <p>&copy; 2026 Hex Sweeper. All rights reserved.</p>
</footer>
</body>
</html>
